#nav-menu-users { border-left: solid 0.2rem var(--main-color); }
#nav-menu-users > a { color: var(--main-color); }

.icon {
    width: 8rem;
    height: 8rem;
}
.icon > img {
    display: block;
    width: 100%;
    border-radius: 50%;
}