@media screen and (max-width: 767px) {
    .member_list_area { width: 100%; }
    .teacher_introducttion {
        width: 95%;
        min-width: 300px;
        margin: 0 auto 1rem auto;
    }
    .teacher_introducttion > div {
        text-align: center;
        border: solid var(--border-color) 1px;
        border-radius: 0.4rem;
        padding: 1rem;
    }

    .member_icon {
        margin: 0 auto;

        width: 10rem;
        height: 10rem;
    }
    .member_icon > img {
        display: block;
        width: 100%;
        border-radius: 50%;
    }

    .member_name {
        font-size: 2rem;
        font-weight: bold;
    }
}