{% extends "oneall/base.html" %}
{% load static %}
{% load url_change %}


{% block extra_head %}
<title>教材 －ONE/ALL</title>
<link rel="stylesheet" href="{% static 'textbook/css/index.css' %}">
<link rel="stylesheet" href="{% static 'textbook/css/index-sp.css' %}">
<link rel="stylesheet" href="{% static 'textbook/css/textbook_form.css' %}">
<link rel="stylesheet" href="{% static 'oneall/css/modal_diagram.css' %}">

<script src="{% static 'textbook/js/index.js' %}"></script>
<script src="{% static 'textbook/js/textbook_form.js' %}"></script>
{% endblock %}


{% block main %}
<h1>TEXTBOOK</h1>
<section>
    <div class="nav_link">
        <a href="{% url 'oneall:index' %}" class="to_upper_layer">ホーム</a>
        <span style="padding: 0 0.25rem">></span>
        <a href="{% url 'textbook:index' %}" {% if request.GET.major_category or request.GET.minor_category %}class="to_upper_layer"{% else %}class="bottom_layer"{% endif %}>教材トップ</a>
        {% if request.GET.major_category %}
            <span style="padding: 0 0.25rem">></span>
            {% for major_category in major_categories %}
            {% if request.GET.major_category == major_category.str_id %}
            <a href="?{% url_replace request 'major_category' major_category.id %}" {% if request.GET.minor_category %}class="to_upper_layer"{% else %}class="bottom_layer"{% endif %}>{{ major_category.order }}. {{ major_category.name }}</a>
            {% endif %}
            {% endfor %}
        {% elif request.GET.minor_category %}
            <span style="padding: 0 0.25rem">></span>
            {% for minor_category in minor_categories %}
            {% if request.GET.minor_category == minor_category.str_id %}
            <a href="?{% url_replace request 'major_category' minor_category.parent.id %}" class="to_upper_layer">{{ minor_category.parent.order }}. {{ minor_category.parent.name }}</a>
            <span style="padding: 0 0.25rem">></span>
            <a href="?{% url_replace request 'minor_category' minor_category.id %}" class="bottom_layer">{{ minor_category.parent.order }}-{{ minor_category.order }}. {{ minor_category.name }}</a>
            {% endif %}
            {% endfor %}
        {% endif %}
    </div>
    <div class="d-flex">
        <div class="category_list_area">
            <ul class="major_category_list">
                {% for major_category in major_categories %}
                <li><label for="minor_category_list_chk_{{ major_category.id }}" style="margin-right: 0.5rem;">▼</label><a class="category_list_name" href="?{% url_replace request 'major_category' major_category.id %}">{{ major_category.order }}. {{ major_category.name }}</a></li>
                <input type="checkbox" id="minor_category_list_chk_{{ major_category.id }}" class="minor_category_list_chk" style="display: none;">
                <ul class="minor_category_list">
                    {% for minor_category in minor_categories %}
                    {% if minor_category.parent.id == major_category.id %}
                        <li><a class="category_list_name" href="?{% url_replace request 'minor_category' minor_category.id %}">{{ minor_category.parent.order }}-{{ minor_category.order }}. {{ minor_category.name }}</a></li>
                    {% endif %}
                    {% endfor %}
                    </ul>
                {% endfor %}
            </ul>
        </div>
        
        <div class="textbook_list_area">
            <h2 style="margin-left: 0;">教材一覧</h2>
            <div class="textbook_list">
                {% for textbook in textbooks %}
                <div class="textbook_list_content">
                    {% if textbook.file_content %}
                    <video src="{{ textbook.file_content.url }}" controls {% if textbook.thumbnail %}poster="{{ textbook.thumbnail.url }}"{% endif %}></video>
                    {% endif %}
                    <div class="textbook_title">{{ textbook.title }}</div>
                </div>
                {% endfor %}
            </div>

            {% if request.user.is_teacher %}
            {% include 'textbook/textbook_form.html' %}
            {% endif %}
        </div>
    </div>
</section>

{% endblock %}
