/* calender_header */
@media screen and (min-width: 1000px) {
    .calender_header {
        display: flex;
        width: 90%;
        margin: 0 auto;
        text-align: center;
        align-items: center;
        justify-content: center;
    }
    .calender_link_area {
        width: 3rem;
        font-size: 2.5rem;
        cursor: pointer;
    }
    .calender_link_angle{
        cursor: pointer;
        color: var(--main-color);
    }
    .calender_form_area {
        width: calc(100% - 6rem);
        font-size: 1.25rem;
    }
}
@media screen and (max-width: 999px) {
    .calender_header {
        display: flex;
        width: 97%;
        margin: 0 auto;
        text-align: center;
        align-items: center;
        justify-content: center;
    }
    .calender_link_area {
        width: 2rem;
        font-size: 1.5rem;
        cursor: pointer;
    }
    .calender_link_angle{
        cursor: pointer;
        color: var(--main-color);
    }
    .calender_form_area {
        width: calc(100% - 4rem);
        font-size: 1rem;
    }
}

/* calender */
.calender {
    width: 95%;
    text-align: center;
    font-size: 1.5rem;
    border: solid 0.2rem black;
    margin: 1rem auto 0;
}
.calender td {
    border: solid 0.1rem black;
    position: relative;
    width: calc(100%/7);
}
.calender_head {
    font-weight: bold;
    border-bottom: double 0.2rem black;
}
.create_sales_data {
    padding: 0.2rem 0 0.8rem 0;
    height: 4.5rem;
    cursor: pointer;
    position: relative;
}
.calender_day {
    margin: 0.2rem 0.2rem;
    text-align: left;
    font-size: 0.8rem;
    position: absolute;
    top: 0;
    left: 0;
}
.calender_head > tr > td { padding: 0.5rem; }
.calender_head td:nth-child(1) { color: crimson; }
.calender_head td:nth-child(7) { color: royalblue; }
tr .create_sales_data:nth-child(1) .calender_day { color: crimson; }
tr .create_sales_data:nth-child(7) .calender_day { color: royalblue; }

@media screen and (min-width: 1000px) {
    .add_sales_data {
        position: absolute;
        bottom: -3.5rem;
        right: 2.5rem;
    }
}
@media screen and (max-width: 999px) {
    .add_sales_data {
        position: absolute;
        bottom: -3rem;
        right: 2.5rem;
    }
}

/* ラベル */
.sales_data_lebel {
    font-size: 0.8rem;
    font-weight: bold;
    border-radius: 0.2rem;
    color: black;

    padding: 0.2rem;
    margin: 0;
}
.ac_label { background-color: var(--pentad-color1); }
.q_label { background-color: var(--pentad-color2); }
.abc_label { background-color: var(--pentad-color3); }
.interview_label { background-color: var(--pentad-color4); }
.contract_label { background-color: var(--pentad-color5); }

.sales_data_label_parent { position: relative; }
.sales_data_c_name {
    display: none;
    font-size: 0.7rem;
    background-color: rgba(0,0,0,0.5);
    color: white;
    border-radius: 0.2rem;
    padding: 0.2rem;
    margin: 0;

    position: absolute;
    bottom: -0.5rem;
    right: -0.6rem;
}
.sales_data_lebel:hover + .sales_data_c_name { display: block; }
.sales_data_lebel:hover { color: black; }