/* tab system */
.tab_radio { display: none; }
@media screen and (min-width: 1000px) {
    .tab_area {
        display: none;
        height: 60vh;
        overflow-y: auto;
        border: solid 0.1rem var(--main-color);
        border-radius: 0 0.4rem 0.4rem 0.4rem;
        margin-top: 0;
        padding: 1.5rem;
    }
}
.tab_label {
    display: inline-block;
    border-top: solid 0.1rem var(--inactive-color);
    border-left: solid 0.1rem var(--inactive-color);
    border-right: solid 0.1rem var(--inactive-color);
    border-radius: 0 0.4rem 0 0;
    width: 6rem;
    height: 2rem;
    background-color: var(--inactive-color);
    cursor: pointer;
    color: white;
    font-weight: bold;
    text-align: center;
    margin-bottom: 0;
}

.tab_radio:checked + .tab_label {
    background-color: var(--main-color);
    border-top: solid 0.1rem var(--main-color);
    border-left: solid 0.1rem var(--main-color);
    border-right: solid 0.1rem var(--main-color);
}

#tab_radio_1:checked ~ #tab_area_1 { display: block; }
#tab_radio_2:checked ~ #tab_area_2 { display: block; }
#tab_radio_3:checked ~ #tab_area_3 { display: block; }