@media screen and (max-width: 999px) {
    
    /*--------------------------------------------------------
    カレンダー
    ------------------------------------------------------- */
    .calender_area {
        width: 95%;
        padding: 1rem;
        position: relative;
        margin: 2rem auto;
    }

    /*--------------------------------------------------------
    グラフ
    ------------------------------------------------------- */
    .graph_area {
        width: 95%;
        padding: 1rem;
        margin: 2rem auto 3rem auto;
    }
}
