#nav-menu-sales { border-left: solid 0.2rem var(--main-color); }
#nav-menu-sales > a { color: var(--main-color); }

.sales_top {
    display: flex;
}

/*--------------------------------------------------------
カレンダー
------------------------------------------------------- */
.calender_area {
    width: 50%;
    padding: 1rem;
    position: relative;
}


/*--------------------------------------------------------
グラフ
------------------------------------------------------- */
.graph_area {
    width: 50%;
    padding: 1rem;
}


