#nav-menu-sales { border-left: solid 0.2rem var(--main-color); }
#nav-menu-sales > a { color: var(--main-color); }

@media screen and (min-width: 1000px) {
    .student_sales_top {
        display: flex;
        align-items: center;
    }
    .calender_area {
        width: 50%;
        padding: 1rem;
        position: relative;
    }
    .graph_area {
        width: 50%;
        padding: 1rem;
    }

    .teacher_monthly_graph_area, .teacher_yearly_graph_area {
        width: 50%;
        padding: 0 1rem 0.5rem 1rem;
    }

    .teacher_all_monthly_graph_area {
        width: 55%;
        padding: 0 1rem 0.5rem 1rem;
    }
    .teacher_all_monthly_table {
        width: 45%;
        padding: 0 1rem 0.5rem 1rem;
    }
}

