{% extends "oneall/base.html" %}
{% load static %}


{% block extra_head %}
<title>ONE/ALL</title>
<link rel="stylesheet" href="{% static 'oneall/css/index.css' %}">
<link rel="stylesheet" href="{% static 'news/css/index.css' %}">
<link rel="stylesheet" href="{% static 'textbook/css/index.css' %}">
{% endblock %}


{% block main %}
<h1>ホーム</h1>
<section>
    <h2 class="text-center">新着情報</h2>
    <div class="news_list">
        {% for news in newses %}
        <a class="news_list_content border d-flex flex-wrap align-items-center" href="{% url 'news:detail' news.id %}">
            <div class="news_dt">{{ news.dt|date:'Y/m/d' }}</div>
            <div class="news_category"><label class="news_category_label">{{ news.category.name|default:'未分類' }}</label></div>
            <div class="news_title">{{ news.title }}</div>
        </a>
        {% endfor %}
    </div>
</section>
<section>
    <h2>教材</h2>
    <div class="textbook_list">
        <!-- <a class="textbook_list_content" href="https://www.youtube.com/watch?v=zacJ9SdErqc" target="_blank" rel="noopener noreferrer">
            <img src="https://i.ytimg.com/vi/zacJ9SdErqc/maxresdefault.jpg" alt="">
            <label aria-label="再生">
                <i class="fa-brands fa-youtube"></i>
            </label>
            <div class="play-btn_center"></div>
        </a> -->
        {% for textbook in textbooks %}
        <div class="textbook_list_content">
            <div class="textbook_title">{{ textbook.title }}</div>
            {% if textbook.file_content %}
            <video src="{{ textbook.file_content.url }}" controls {% if textbook.thumbnail %}poster="{{ textbook.thumbnail.url }}"{% endif %}></video>
            {% endif %}
        </div>
        {% endfor %}
    </div>
</section>
{% endblock %}
