@media screen and (max-width: 549px) {
    section > div { flex-flow: column; }
    .category_list_area {
        width: 95%;
        min-width: 240px;
        margin: 0 auto 1rem auto;
    }
    .textbook_list_content {
        position: relative;
        min-width: 18rem;
        margin: 1rem auto;
    }
}
