#nav-menu-textbook { border-left: solid 0.2rem var(--main-color); }
#nav-menu-textbook > a { color: var(--main-color); }

.major_category_list, .minor_category_list { list-style: none; }
.major_category_list { padding: 0; }
.minor_category_list { padding-left: 1.5rem; }
li { margin: 0.2rem 0.5rem; }

.textbook_list_area { margin-left: 2rem; flex-grow: 1; }
.textbook_list {
    display: flex;
    flex-wrap: wrap;
}
.textbook_list_content {
    position: relative;
    width: 20rem;
    max-height: 15rem;
    margin: 1rem;
}
.textbook_title {
    position: absolute;
    top: 0;
    left:0;
    padding: 0.2rem 0.5rem;
    background-color: rgba(0,0,0,0.5);
    color: white;
    font-weight: bold;
    z-index: 20;
}
.textbook_list_content > video {
    display: block;
    width: 100%;
    height: 100%;
    cursor: pointer;
    z-index: 10;
}

