<div class="calender_header">
    <div class="calender_link_area">
        <a href="?year={{ last_month.year }}&month={{ last_month.month }}" style="color: var(--main-color);"><i class="fas fa-angle-left"></i></a>
    </div>
    
    <form class="calender_form_area" action="" method="GET">
        <select name="year">
            {% for year in years %}
            <option value="{{ year }}"  {% if year == selected_date.year %}selected{% endif %}>{{ year }}年</option>
            {% endfor %}
        </select>
        <select name="month">
            {% for month in months %}
            <option value="{{ month }}" {% if month == selected_date.month %}selected{% endif %}>{{ month }}月</option>
            {% endfor %}
        </select>
        <input type="submit" value="検索" class="original_btn">
    </form>
    <div class="calender_link_area">
        <a href="?year={{ next_month.year }}&month={{ next_month.month }}" style="color: var(--main-color);"><i class="fas fa-angle-right"></i></a>
    </div>
</div>