{% extends "oneall/base.html" %}
{% load static %}


{% block extra_head %}
<title>営業データ －ONE/ALL</title>
<link rel="stylesheet" href="{% static 'sales/css/index.css' %}">
<link rel="stylesheet" href="{% static 'sales/css/calender.css' %}">
<link rel="stylesheet" href="{% static 'sales/css/sales_form.css' %}">
<link rel="stylesheet" href="{% static 'oneall/css/modal_diagram.css' %}">
<link rel="stylesheet" href="{% static 'sales/css/graph.css' %}">

<script src="{% static 'sales/js/index.js' %}"></script>
<script src="{% static 'sales/js/sales_form.js' %}"></script>
<script src="{% static 'sales/js/graph.js' %}"></script>
{% endblock %}


{% block main %}
<h1>SALES DATA</h1>
<div class="sales_top">
    <!-- カレンダー -->
    <div class="calender_area">
        {% include "sales/calender.html" %}
    </div>

    <!-- グラフ -->
    <div class="graph_area">
        {% include "sales/graph.html" %}
    </div>
</div>

{% if request.user.is_student %}
{% include "sales/sales_form.html" %}
{% endif %}

{% endblock %}