{% extends "oneall/base.html" %}
{% load static %}


{% block extra_head %}
<title>営業データ －ONE/ALL</title>
<link rel="stylesheet" href="{% static 'sales/css/index.css' %}">
<link rel="stylesheet" href="{% static 'sales/css/detail.css' %}">
<script>
    let DELETE_URL  = "{% url 'sales:q_detail' 1 %}";
    let RETURN_URL  = "{% url 'sales:index' %}"
</script>
<script src="{% static 'sales/js/detail.js' %}"></script>
{% endblock %}


{% block main %}
<h1>SALES DATA</h1>
<div class="sales_data_detail border">
    <input type="checkbox" id="q_edit_chk" class="sales_data_edit_chk">
    <div class="sales_data_icons">
        <label class="sales_data_icon edit" value="{{ q.id }}" for="q_edit_chk"><i class="fa-solid fa-pen"></i></label>
        <button class="sales_data_icon trash" value="{{ q.id }}"><i class="fa-solid fa-trash-can"></i></button>
    </div>
    
    <div class="sales_data_detail_content">
        <h3>質問</h3>
        <div>Cさんの名前：{{ q.ac.c_name }}</div>
        <div>質問日：{{ q.q_date|date:'Y/m/d' }}</div>
    </div>
    <!-- 編集フォーム -->
    <div class="sales_data_detail_edit">
        <form action="{% url 'sales:q_detail' q.id %}" id="q_edit_form">
            {% csrf_token %}
            <input class="date" name="q_date" value="{{ q.q_date }}">
            <select name="ac" class="form-control" style="height:2.3rem;" required>
                {% for ac in acs %}
                <option value="{{ ac.id }}" {% if q.ac.id == ac.id %}selected{% endif %}>{{ ac.c_name }}</option>
                {% endfor %}
            </select>
            <button class="btn btn-primary" id="submit_edit" data-salestype="q">編集</button>
            <label for="q_edit_chk" class="btn btn-danger mt-2">キャンセル</label>
        </form>
    </div>
</div>
{% endblock %}


