{# モーダル領域 #}
<input id="modal_chk" class="modal_chk" type="checkbox">
<div class="modal_body">
    <label class="modal_bg" for="modal_chk"></label>
    <div class="modal_content">
        
        <h2>営業データ入力フォーム</h2>

        <div class="modal_balance">
            <input type="radio" name="sales_form_radio" class="sales_form_radio" id="sales_form_radio_ac">
            <label for="sales_form_radio_ac" class="sales_form_label" id="sales_form_label_ac">AC</label>
    
            <input type="radio" name="sales_form_radio" class="sales_form_radio" id="sales_form_radio_question">
            <label for="sales_form_radio_question" class="sales_form_label" id="sales_form_label_question">質問</label>
    
            <input type="radio" name="sales_form_radio" class="sales_form_radio" id="sales_form_radio_abc">
            <label for="sales_form_radio_abc" class="sales_form_label" id="sales_form_label_abc">ABC</label>
            
            <input type="radio" name="sales_form_radio" class="sales_form_radio" id="sales_form_radio_interview">
            <label for="sales_form_radio_interview" class="sales_form_label" id="sales_form_label_interview">面談</label>
    
            <input type="radio" name="sales_form_radio" class="sales_form_radio" id="sales_form_radio_contract">
            <label for="sales_form_radio_contract" class="sales_form_label" id="sales_form_label_contract">契約</label>
            
            <!-- AC -->
            <form action="" method="POST" class="sales_form" id="sales_form_ac">
                {% csrf_token %}
                <input type="checkbox" name="sales_form_chk" value="ac" checked style="display:none;">
                <input type="text" name="c_name" class="form-control" placeholder="Cさんの名前を入力してください" required>
                <input name="ac_date" class="input_date form-control" required>
                <input type="text" name="place" class="form-control" placeholder="場所">
                <input type="submit" value="登録" class="original_btn original_btn_send">
            </form>
    
            <!-- 質問 -->
            <form action="" method="POST" class="sales_form" id="sales_form_question">
                {% csrf_token %}
                <input type="checkbox" name="sales_form_chk" value="question" checked style="display:none;">
                <select name="ac" class="form-control" style="height:2.3rem;" required>
                    <option value="" disabled selected>Cさんを選択してください</option>
                    {% for ac in acs %}
                    {% if ac.c_is_ac_active %}
                    <option value="{{ ac.id }}">{{ ac.c_name }}</option>
                    {% endif %}
                    {% endfor %}
                </select>
                <input name="q_date" class="input_date form-control" required>
                <input type="submit" value="登録" class="original_btn original_btn_send">
            </form>
    
            <!-- ABC -->
            <form action="" method="POST" class="sales_form" id="sales_form_abc">
                {% csrf_token %}
                <input type="checkbox" name="sales_form_chk" value="abc" checked style="display:none;">
                <select name="question" class="form-control" style="height:2.3rem;" required>
                    <option value="" disabled selected>Cさんを選択してください</option>
                    {% for question in questions %}
                    {% if question.c_is_question_active %}
                    <option value="{{ question.id }}">{{ question.ac.c_name }}</option>
                    {% endif %}
                    {% endfor %}
                </select>
                <input name="abc_date" class="input_date form-control" required>
                <input type="submit" value="登録" class="original_btn original_btn_send">
            </form>
    
            <!-- 面談 -->
            <form action="" method="POST" class="sales_form" id="sales_form_interview">
                {% csrf_token %}
                <input type="checkbox" name="sales_form_chk" value="interview" checked style="display:none;">
                <select name="abc" class="form-control" style="height:2.3rem;" required>
                    <option value="" disabled selected>Cさんを選択してください</option>
                    {% for abc in abcs %}
                    {% if abc.c_is_abc_active %}
                    <option value="{{ abc.id }}">{{ abc.question.ac.c_name }}</option>
                    {% endif %}
                    {% endfor %}
                </select>
                <input name="interview_date" class="input_date form-control" required>
                <input type="submit" value="登録" class="original_btn original_btn_send">
            </form>
    
            <!-- 契約 -->
            <form action="" method="POST" class="sales_form" id="sales_form_contract">
                {% csrf_token %}
                <input type="checkbox" name="sales_form_chk" value="contract" checked style="display:none;">
                <select name="interview" class="form-control" style="height:2.3rem;" required>
                    <option value="" disabled selected>Cさんを選択してください</option>
                    {% for interview in interviews %}
                    {% if interview.c_is_interview_active %}
                    <option value="{{ interview.id }}">{{ interview.abc.question.ac.c_name }}</option>
                    {% endif %}
                    {% endfor %}
                </select>
                <input name="contract_date" class="input_date form-control" required>
                <input type="submit" value="登録" class="original_btn original_btn_send">
            </form>
        </div>
    </div>
</div>
