{% extends "oneall/base.html" %}
{% load static %}


{% block extra_head %}
<title>NEWS －ONE/ALL</title>
<link rel="stylesheet" href="{% static 'news/css/index.css' %}">
<link rel="stylesheet" href="{% static 'news/css/detail.css' %}">
{% endblock %}

{% block main %}
<h1>NEWS</h1>
<div class="news_detail_content border">
    <h3>{{ news.title }}</h3>
    <label class="news_category_label">{{ news.category.name|default:'未分類' }}</label>
    <div>{{ news.user.handle_name }}</div>
    <div>{{ news.dt|date:'Y/m/d' }}</div>
    <div>{{ news.content|linebreaksbr|urlize }}</div>
</div>
{% endblock %}