{% extends "oneall/base.html" %}
{% load static %}
{% load param_change %}


{% block extra_head %}
<title>NEWS －ONE/ALL</title>
<link rel="stylesheet" href="{% static 'news/css/index.css' %}">
<link rel="stylesheet" href="{% static 'news/css/news_form.css' %}">
<link rel="stylesheet" href="{% static 'oneall/css/modal_diagram.css' %}">

<script src="{% static 'oneall/js/ajax.js' %}"></script>
<script src="{% static 'news/js/index.js' %}"></script>
<script src="{% static 'news/js/news_form.js' %}"></script>
{% endblock %}


{% block main %}
<div class="d-flex justify-content-between flex-wrap">
    <div>
        <h1>NEWS</h1>
    </div>
    <div>
        <div class="news_search">
            <form action="" id="news_search_form" class="input-group">
                <select name="category" class="not_basecss">
                    <option value="">カテゴリ</option>
                    {% for category in categories %}
                    <option value="{{ category.id }}" {% if request.GET.category == category.str_id %}selected{% endif %}>{{ category.name }}</option>
                    {% endfor %}
                </select>
                <input class="form-control" type="text" name="search" placeholder="タイトルから検索" value="{{ request.GET.search }}">
                <div class="input-group-append">
                    <button id="search" class="form-control btn btn-outline-primary">検索</button>
                </div>
            </form>
        </div>
    </div>
</div>
<section>
    <h2>お知らせ一覧</h2>
    <div class="news_list">
        {% for news in newses %}
        <a class="news_list_content border d-flex flex-wrap align-items-center" href="{% url 'news:detail' news.id %}">
            <div class="news_dt">{{ news.dt|date:'Y/m/d' }}</div>
            <div class="news_category"><label class="news_category_label">{{ news.category.name|default:'未分類' }}</label></div>
            <div class="news_title">{{ news.title }}</div>
        </a>
        {% endfor %}
    </div>
    <ul class="pagination justify-content-center" style="margin-top: 1rem;">
        {% if newses.has_previous %}
        <li class="page-item"><a class="page-link" href="?{% url_replace request 'page' '1' %}">1</a></li>
            {% if newses.previous_page_number != 1 %}
            <li class="page-item"><span class="page-link page-no-link">&hellip;</span></li>
            <li class="page-item"><a class="page-link" href="?{% url_replace request 'page' newses.previous_page_number %}">{{ newses.previous_page_number }}</a></li>
            {% endif %}
        {% endif %}
        <li class="page-item"><span class="page-link page-no-link">{{ newses.number }}</span></li>
        {% if newses.has_next %}
            <li class="page-item"><a class="page-link" href="?{% url_replace request 'page' newses.next_page_number %}">{{ newses.next_page_number }}</a></li>
            {% if newses.next_page_number != newses.paginator.num_pages %}
                <li class="page-item"><span class="page-link page-no-link">&hellip;</span></li>
                <li class="page-item"><a class="page-link" href="?{% url_replace request 'page' newses.paginator.num_pages %}">{{ newses.paginator.num_pages }}</a></li>
            {% endif %}
        {% endif %}
    </ul>
</section>

{% if request.user.is_teacher %}
{% include 'news/news_form.html' %}
{% endif %}
{% endblock %}