<section>
    <h2>お知らせ記事投稿フォーム</h2>
    <form id="news_form" method="POST">
        {% for message in messages %}
        {% if message.tags == 'error' %}
        <div class="error_message">{{ message }}</div>
        {% endif %}
        {% endfor %}

        {% csrf_token %}
        <input type="text" name="title" class="form-control" placeholder="タイトル" required>
        <div class="d-flex align-items-center">
            <select name="category" class="select_news_category mr-2" required>
                <option value="" disabled selected>カテゴリ選択</option>
                {% for category in categories %}
                <option value="{{ category.id }}">{{ category.name }}</option>
                {% endfor %}
            </select>
            <label class="add_news_category modal_label" for="modal_chk" style="font-size:2rem; color: var(--main-color);">
                <i class="fas fa-plus-circle"></i>
            </label>
        </div>
        <textarea name="content" class="form-control" rows="10" placeholder="記事" required></textarea>
        <input type="submit" value="送信" class="original_btn original_btn_send">
    </form>
</section>

{# モーダル領域 #}
<input id="modal_chk" class="modal_chk" type="checkbox">
<div class="modal_body">
    <label class="modal_bg" for="modal_chk"></label>
    <div class="modal_content">
        <h2>カテゴリ新規追加</h2>
        <form id="news_category_form" method="POST" action="{% url 'news:add_category' %}">
            {% csrf_token %}
            <input type="text" name="name" placeholder="カテゴリ名">
            <input class="original_btn" style="padding: 0.2rem 0.5rem;" type="submit" value="登録">
            <label for="modal_chk" class="original_btn_cancel">キャンセル</label>
        </form>
        <h2 style="margin-top: 1rem;">カテゴリ一覧</h2>
        <div id="news_category_list">
            {% for category in categories %}
            <label>{{ category.name }}</label>
            {% endfor %}
        </div>
    </div>
</div>
