/* 1rem : 16px */

:root {
    --main-color: #FF6347;
    --pentad-color1: #FF6347; /* same as --main-color */
    --pentad-color2: #FF47E3;
    --pentad-color3: #E3FF47;
    --pentad-color4: #47FFBF;
    --pentad-color5: #4788FF;

    --accent-color6: #FF6347;
    --tag-color: #666666;
    --border-color: #666666;
    --background-color: #dddddd;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 0.5rem;
    background-color: white;
    border-bottom: solid 0.2rem var(--main-color);

    width: 100%;
    z-index: 10;

    position: fixed;
    top: 0;
    left: 0;
}

.top-page {
    font-size: 2rem;
    margin-left: 1rem;
    color: black;
    text-decoration: none;
}
.top-page:hover {
    color: black;
    text-decoration: none;
}

nav > a {
    display: inline-block;
    margin-right: 1rem;
    text-decoration: none;
    color: black;
    font-size: 1.5rem;
}
nav > a:hover {
    color: black;
}

main {
    width: 95%;
    margin: 4rem auto 0 auto;
}

section {
    margin-top: 1.5rem;
    margin-bottom: 2.5rem;
}

h1 {
    font-size: 2rem;
    font-weight: bold;
}

h2 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}
select:not(.not_basecss) {
    height:2rem;
    border-radius: 0.2rem;
}

.original_btn {
    background-color: var(--main-color);
    border: none;
    border-radius: 0.2rem;
    color: white;
    padding: 0 0.5rem;
    cursor: pointer;
}
.original_btn_send {
    display: block;
    margin-top: 0.2rem;
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
}
.original_btn_cancel {
    background-color: var(--background-color);
    border: none;
    border-radius: 0.2rem;
    color: black;
    padding: 0.2rem 0.5rem;
    cursor: pointer;
}

.error_message {
    color: red;
    font-weight: bold;
    padding: 0.5rem 0;
}