@media screen and (max-width: 767px) {
    .textbook_title { width: 100% }
    .textbook_list_content {
        cursor: pointer;
        width: 90%;
        margin: 0 auto;
    }

    .textbook_list_content > video {
        width: 100%;
    }
    .textbook_title { text-align: center; }
}

