#nav-menu-home { border-left: solid 0.2rem var(--main-color); }
#nav-menu-home > a { color: var(--main-color); }

/* news */
.news_list {
    border: solid 0.2rem var(--border-color);
    width: 95%;
    margin: 0 auto;
}

.news_list_content {
    display: flex;
    padding: 0.5rem 0.75rem;
    text-decoration: none;
    color: black;
    cursor: pointer;
}
.news_list_content:hover {
    text-decoration: none;
    color: black;
}
.news_dt {
    width: 6rem;
    text-align: center;
    margin: 0.5rem 0;
}
.news_category {
    width: 10rem;
    font-size: 0.9rem;
    text-align: center;
}
.news_category_label {
    padding: 0.2rem 0.4rem;
    border: solid 0.1rem var(--tag-color);
    border-radius: 0.4rem;
    margin: 0;
    font-size: 0.75rem;
}
.news_title {
    min-width: 15rem;
    font-weight: bold;
    padding-left: 0.5rem;
}

/* textbook */
@media screen and (min-width: 768px) {
    .textbook_list_content {
        display: inline-block;
        width: 30%;
        position: relative;

        cursor: pointer;
    }

    .textbook_list_content {
        position: relative;
        width: 30%;
        min-width: 18rem;
        margin: 1rem 0.75rem;
    }
}
.textbook_list {
    display: flex;
    flex-wrap: wrap;
}
.textbook_title {
    text-align: center;
    font-weight: bold;
    margin: 0.2rem auto;
}
.textbook_thumbnail {
    display: block;
    width: 100%;
    cursor: pointer;
    z-index: 10;
    margin: 0.2rem auto;
}
.textbook_thumbnail > a > img, .textbook_thumbnail > video { width: 100%; }
.textbook_thumbnail > a > label {
    display: block;
    color: red;
    font-size: 3rem;
    background-color: rgba(255,255,255,0);
    border: none;
    z-index: 20;
    margin: 0;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    cursor: pointer;
}
.play-btn_center {
    height: 1.5rem;
    width: 1.5rem;
    background-color: white;
    z-index: 15;

    position: absolute;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);
}

